* {
    padding: 0;
    margin: 0;
}

body {
  background-color: var(--body-bg);
  color: #EEEEEE;
  /* background: linear-gradient(to left, #e66465, #9198e5);
  color: #131516; */
  font-size: 16px;

    
}

.body {
  margin: 0.1vh auto 0 auto;
  max-width: 55%;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 > a:hover {
  text-decoration: underline;
  text-decoration-color: #d63384;
}

div#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh auto 4vh auto;
  width: 100%;
  text-align: center;
}

.list-container {
}

